
<div data-gr-c-s-loaded="true">
  <div class="form-signin">
      <div class="text-center mb-4">
            <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-label-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email", class: "form-control" %>
            </div>

            <div class="field form-label-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field checkbox mb-3">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
            </div>
      <% end %>
  </div>
  <%= render "devise/shared/links" %>
  <p class="mt-5 mb-3 text-muted text-center">© 2019</p>
</div>